body{
  background-color: #333;
}
ul.imgList{
  width:1000px;
  margin: 50px auto;
  text-align: center;
  li{
    display: inline-block;
    width: 100px;
    height:30px;
    line-height: 30px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    &:hover{
      background-color: #bbffaa;
    }
  }
}
#pic_name{
  text-align: center;
  font-size: 24px;
  color: #bfa;
  margin: 50px 0;
}
img#default{
  display: block;
  width: 600px;
  margin: 0 auto;
}
p{
  color: #fff;
}