*{
  margin: 0;
  padding: 0;
}
ul,
ol,
li{
  list-style: none;
  padding: 0;
  border: none;
}
a{
  text-decoration: none;
}
img{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border: none;
}